@using SampleSinglePageApplication;
@inject IHttpContextAccessor context;
@inject SampleSinglePageApplication.IDataAccess data;
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TITLE</title>
    @await Html.PartialAsync("_partialIncludes")
</head>
<body>
    @RenderBody()
</body>
</html>
