@using SampleSinglePageApplication;
@inject IHttpContextAccessor context;
@inject IDataAccess data;
@{
    string title = ViewBag.Title;
    if (String.IsNullOrEmpty(title)) {
        title = "Error";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(title)</title>
    @await Html.PartialAsync("_partialIncludes")
</head>
<body class="not-logged-in">
    @RenderBody()
</body>
</html>