<script src="~/js/viewModels/records.js?v=@Html.Raw(Guid.NewGuid().ToString().Replace("-", ""))"></script>
<div id="view-records">
    <div data-bind="visible:MainModel().CurrentView() =='records'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7"><i data-bind="html:MainModel().Icon('Records')"></i>Record Page</h1>

            <div data-bind="visible:Records() == null || Records().length == 0, html:MainModel().Language('LoadingWait')"></div>

            <div data-bind="visible:Records() != null && Records().length > 0" class="padbottom-5">
                <button type="button" class="btn btn-success" data-bind="click:function(){ MainModel().Nav('NewRecord') }">
                    <i data-bind="html:MainModel().IconAndText('AddRecord')"></i>
                </button>
            </div>
        </div>

        <div data-bind="visible:Records() != null && Records().length > 0">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th style="width:1%;" class="no-pad-right"></th>
                        <th style="width:330px;" data-bind="html:MainModel().Language('RecordId')"></th>
                        <th style="width:auto;" data-bind="html:MainModel().Language('RecordName')"></th>
                        <th style="width:1%;" class="center" data-bind="html:MainModel().Language('RecordText', '', true)"></th>
                        <th style="width:1%;" data-bind="html:MainModel().Language('Boolean')"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:Records">
                    <tr>
                        <td class="no-pad-right">

                        </td>
                        <td data-bind="text:$data.recordId"></td>
                        <td data-bind="text:$data.name"></td>
                        <td data-bind="text:$data.text" class="center"></td>
                        <td data-bind="html:tsUtilities.BooleanToCheckbox($data.boolean())" class="center"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>