<script src="~/js/viewModels/page2.js"></script>
<div id="view-page2">
    <div data-bind="visible:MainModel().CurrentView() == 'page2'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7"><i data-bind="html:MainModel().Icon('Page2')"></i>Sample Page 2</h1>
        </div>
    </div>
</div>