<script src="~/js/viewModels/departments.js"></script>
<div id="view-departments">
    <div data-bind="visible:MainModel().CurrentView() == 'departments'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7"><i data-bind="html:MainModel().IconAndText('Departments')"></i></h1>

            <div class="padbottom-5">
                <button type="button" class="btn btn-success" data-bind="html:MainModel().IconAndText('AddNewDepartment'), click: function(){ MainModel().Nav('NewDepartment') }"></button>
                <button type="button" class="btn btn-dark" data-bind="click:function(){ MainModel().Nav('DepartmentGroups') }, html:MainModel().IconAndText('DepartmentGroups')"></button>
            </div>
        </div>

        <div class="padbottom" data-bind="visible:MainModel().Tenant().departments() == null || MainModel().Tenant().departments().length == 0">
            <span data-bind="html:MainModel().Language('NoItemsToShow')"></span>
        </div>

        <table class="table" data-bind="visible:MainModel().Tenant().departments() != null && MainModel().Tenant().departments().length > 0">
            <thead>
                <tr class="table-dark">
                    <th style="width:1%;"></th>
                    <th data-bind="html:MainModel().Language('DepartmentName', '', true)"></th>
                    <th data-bind="html:MainModel().Language('DepartmentGroup', '', true)"></th>
                    <th data-bind="html:MainModel().Language('ActiveDirectoryNames', '', true)"></th>
                    <th style="width:1%;" data-bind="html:MainModel().Language('Enabled')"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach:MainModel().Tenant().departments">
                <tr>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary nowrap" 
                            data-bind="html:$root.MainModel().IconAndText('Edit'),
                                click:function(){ $root.MainModel().Nav('EditDepartment', $data.departmentId()) }"></button>
                    </td>
                    <td data-bind="text:$data.departmentName"></td>
                    <td data-bind="text:$root.MainModel().DepartmentGroupNameFromId($data.departmentGroupId())"></td>
                    <td data-bind="text:$data.activeDirectoryNames"></td>
                    <td data-bind="html:tsUtilities.BooleanToCheckbox($data.enabled())" class="center"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-bind="visible:MainModel().CurrentView() == 'editdepartment' || MainModel().CurrentView() == 'newdepartment'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7">
                <!-- ko if: MainModel().Id() == null || MainModel().Id() == '' -->
                    <i data-bind="html:MainModel().IconAndText('AddNewDepartment')"></i>
                <!-- /ko -->
                
                <!-- ko if: MainModel().Id() != null && MainModel().Id() != '' -->
                    <span data-bind="html:MainModel().IconAndText('EditDepartment')"></span>
                    &ldquo;<span data-bind="text:MainModel().Id"></span>&rdquo;
                <!-- /ko -->
            </h1>

            <div class="padbottom-5">
                <button type="button" class="btn btn-dark" data-bind="html:MainModel().IconAndText('Back'), click:function(){ MainModel().Nav('Departments') }"></button>
                <button type="button" class="btn btn-success" data-bind="html:MainModel().IconAndText('Save'), click:Save"></button>
                <!-- ko if: MainModel().Id() != null && MainModel().Id() != '' -->
                    <!-- ko if: ConfirmDelete() != MainModel().Id() -->
                        <button type="button" class="btn btn-danger" data-bind="html:MainModel().IconAndText('Delete'), click:function(){ ConfirmDelete(MainModel().Id()) }"></button>
                    <!-- /ko -->
                    <!-- ko if: ConfirmDelete() == MainModel().Id() -->
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-dark" data-bind="html:MainModel().IconAndText('Cancel'), click:function(){ ConfirmDelete('') }"></button>
                            <button type="button" class="btn btn-danger" data-bind="html:MainModel().IconAndText('ConfirmDelete'), click:DeleteDepartment"></button>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        
        <div class="padbottom">
            <label for="edit-department-departmentName" data-bind="html:MainModel().Language('DepartmentName')"></label>
            <input type="text" id="edit-department-departmentName" class="form-control" data-bind="value:Department().departmentName" />
        </div>

        <div class="padbottom">
            <label for="edit-department-activeDirectoryNames" data-bind="html:MainModel().Language('ActiveDirectoryNames')"></label>
            <span class="note" data-bind="html:MainModel().Language('ActiveDirectoryNamesInfo')"></span>
            <input type="text" id="edit-department-activeDirectoryNames" class="form-control" data-bind="value:Department().activeDirectoryNames" />
        </div>

        <div class="padbottom" data-bind="visible:MainModel().Tenant().departmentGroups() != null && MainModel().Tenant().departmentGroups().length > 0">
            <label for="edit-department-departmentGroupId" data-bind="html:MainModel().Language('DepartmentGroup')"></label>
            <select id="edit-department-departmentGroupId" class="form-select" 
                data-bind="value:Department().departmentGroupId,
                    options: MainModel().Tenant().departmentGroups(),
                    optionsText: function(item){return item.departmentGroupName},
                    optionsValue: function(item){return item.departmentGroupId},
                    optionsCaption: '',
                    valueAllowUnset: true">
            </select>
        </div>

        <div class="padbottom form-check form-switch">
            <input type="checkbox" role="switch" class="form-check-input" id="edit-department-enabled" data-bind="checked:Department().enabled" />
            <label for="edit-department-enabled" class="form-check-label" data-bind="html:MainModel().Language('Enabled')"></label>
        </div>
    </div>

    <div data-bind="visible:MainModel().CurrentView() == 'departmentgroups'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7"><i data-bind="html:MainModel().IconAndText('DepartmentGroups')"></i></h1>

            <div class="padbottom-5">
                <button type="button" class="btn btn-dark" data-bind="click:function(){ MainModel().Nav('Departments') }, html:MainModel().IconAndText('back')"></button>
                <button type="button" class="btn btn-success" data-bind="html:MainModel().IconAndText('AddNewDepartmentGroup'), click: function(){ MainModel().Nav('NewDepartmentGroup') }"></button>
            </div>
        </div>

        <div class="padbottom" data-bind="visible:MainModel().Tenant().departmentGroups() == null || MainModel().Tenant().departmentGroups().length == 0">
            <span data-bind="html:MainModel().Language('NoItemsToShow')"></span>
        </div>

        <table class="table" data-bind="visible:MainModel().Tenant().departmentGroups() != null && MainModel().Tenant().departmentGroups().length > 0">
            <thead>
                <tr class="table-dark">
                    <th style="width:1%;"></th>
                    <th data-bind="html:MainModel().Language('DepartmentGroupName', '', true)"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach:MainModel().Tenant().departmentGroups">
                <tr>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary nowrap" 
                            data-bind="html:$root.MainModel().IconAndText('Edit'),
                                click:function(){ $root.MainModel().Nav('EditDepartmentGroup', $data.departmentGroupId()) }"></button>
                    </td>
                    <td data-bind="text:$data.departmentGroupName"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-bind="visible:MainModel().CurrentView() == 'editdepartmentgroup' || MainModel().CurrentView() == 'newdepartmentgroup'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7">
                <!-- ko if: MainModel().Id() == null || MainModel().Id() == '' -->
                    <i data-bind="html:MainModel().IconAndText('AddNewDepartmentGroup')"></i>
                <!-- /ko -->
                
                <!-- ko if: MainModel().Id() != null && MainModel().Id() != '' -->
                    <span data-bind="html:MainModel().IconAndText('EditDepartmentGroup')"></span>
                    &ldquo;<span data-bind="text:MainModel().Id"></span>&rdquo;
                <!-- /ko -->
            </h1>

            <div class="padbottom-5">
                <button type="button" class="btn btn-dark" data-bind="html:MainModel().IconAndText('Back'), click:function(){ MainModel().Nav('DepartmentGroups') }"></button>
                <button type="button" class="btn btn-success" data-bind="html:MainModel().IconAndText('Save'), click:SaveDepartmentGroup"></button>
                <!-- ko if: MainModel().Id() != null && MainModel().Id() != '' -->
                    <!-- ko if: ConfirmDelete() != MainModel().Id() -->
                        <button type="button" class="btn btn-danger" data-bind="html:MainModel().IconAndText('Delete'), click:function(){ ConfirmDelete(MainModel().Id()) }"></button>
                    <!-- /ko -->
                    <!-- ko if: ConfirmDelete() == MainModel().Id() -->
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-dark" data-bind="html:MainModel().IconAndText('Cancel'), click:function(){ ConfirmDelete('') }"></button>
                            <button type="button" class="btn btn-danger" data-bind="html:MainModel().IconAndText('ConfirmDelete'), click:DeleteDepartmentGroup"></button>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        
        <div class="padbottom">
            <label for="edit-departmentgroup-departmentGroupName" data-bind="html:MainModel().Language('DepartmentGroupName')"></label>
            <input type="text" id="edit-departmentgroup-departmentGroupName" class="form-control" data-bind="value:DepartmentGroup().departmentGroupName" />
        </div>

    </div>
</div>