<script src="~/js/viewModels/records.js?v=@Html.Raw(Guid.NewGuid().ToString().Replace("-", ""))"></script>
<div id="view-records">
    <div data-bind="visible:MainModel().CurrentView() =='records'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7"><i data-bind="html:MainModel().Icon('Records')"></i>Record Page</h1>

            <div data-bind="visible:Records() == null || Records().length == 0, html:MainModel().Language('LoadingWait')"></div>

            <div data-bind="visible:Records() != null && Records().length > 0" class="padbottom-5">
                <button type="button" class="btn btn-success" data-bind="click:function(){ MainModel().Nav('NewRecord') }">
                    <i data-bind="html:MainModel().IconAndText('AddRecord')"></i>
                </button>
            </div>
        </div>

        <div data-bind="visible:Records() != null && Records().length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Number</th>
                        <th>Boolean</th>
                        <th>Text</th>
                        <th>Tenant Id</th>
                        <th>User Id</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:Records">
                    <tr>
                        <td class="no-pad-right">
                            <button type="button" class="btn btn-sm btn-primary nowrap" 
                                data-bind="click:function(){ $root.MainModel().Nav('editrecord', $data.recordId()) },
                                    html:$root.MainModel().IconAndText('Edit')">
                            </button>
                        </td>
                        <td><span data-bind="text: recordId"></span></td>
                        <td><span data-bind="text: name"></span></td>
                        <td><span data-bind="text: number"></span></td>
                        <td><span data-bind="text: boolean"></span></td>
                        <td><span data-bind="text: text"></span></td>

                        <td><span data-bind="text: tenantId"></span></td>
                        <td><span data-bind="text: userId"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Editing a source -->
    <div style="display: none;" data-bind="visible: ViewChanged() == 'editrecord'">
        <h1>Edit Record</h1>
        <div data-bind="if: Record() != null">
            <div class="form-group">
                <label for="name">Name</label>
                <input data-bind="value: Record().name" type="text" class="form-control" id="name" placeholder="Enter Name">
            </div>

            <div class="form-group">
                <label for="number">Number</label>
                <input data-bind="value: Record().number" type="text" class="form-control" id="number" placeholder="Enter Number">
            </div>

            <div class="form-group">
                <label for="text">Text</label>
                <input data-bind="value: Record().text" type="text" class="form-control" id="text" placeholder="Enter Text">
            </div>

            <button type="submit" class="btn btn-success" data-bind="click: () => {SaveRecord();}" >Save</button>
            <button type="reset" class="btn btn-danger" data-bind="click: () => {ListRecords();}">Cancel</button>
        </div>
    </div>
    
</div>