<script src="~/js/viewModels/udfLabels.js?v=@Html.Raw(Guid.NewGuid().ToString().Replace("-", ""))"></script>
<div id="view-udflabels">
    <div data-bind="visible:MainModel().CurrentView() == 'udflabels'">
        <div data-bind="css:{fixed: MainModel().StickyMenus() == true}">
            <i class="sticky-menu-icon" data-bind="html:MainModel().StickyIcon(), click:function(){MainModel().ToggleStickyMenus()}"></i>
            <h1 class="display-7"><i data-bind="html:MainModel().IconAndText('UdfLabels')"></i></h1>

            <div class="mb-2">
                <button type="button" class="btn btn-success" data-bind="html:MainModel().IconAndText('Save'), click:Save"></button>

                <button type="button" class="btn btn-primary" data-bind="click:ManageUDFLabelsToggleHelp">
                    <span data-bind="visible:ManageUdfLabelsShowHelp() == false, html:MainModel().IconAndText('ShowHelp')"></span>
                    <span data-bind="visible:ManageUdfLabelsShowHelp() == true, html:MainModel().IconAndText('HideHelp')"></span>
                </button>
            </div>
        </div>

        <div class="row mb-2" data-bind="visible:ManageUdfLabelsShowHelp">
            <div class="col-sm-12">
                <div class="alert alert-info">
                    <div class="mb-2" data-bind="html:MainModel().Language('UdfHelpIntro')"></div>
                    <div class="mb-2" data-bind="html:MainModel().Language('UdfOptions')"></div>
                    <div class="mb-2">
                        <i class="fas fa-columns"></i> <strong data-bind="html:MainModel().Language('ShowColumn')"></strong> -
                        <span data-bind="html:MainModel().Language('ShowColumnInfo')"></span>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-filter"></i> <strong data-bind="html:MainModel().Language('ShowInFilter')"></strong> -
                        <span data-bind="html:MainModel().Language('ShowInFilterInfo')"></span>
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-search"></i> <strong data-bind="html:MainModel().Language('IncludeInSearch')"></strong> -
                        <span data-bind="html:MainModel().Language('IncludeInSearchInfo')"></span>
                    </div>
                    <div data-bind="html:MainModel().Language('UdfShowConflictNote')"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th style="width:1%;" data-bind="html:MainModel().Language('Module')"></th>
                            <th style="width:1%;" data-bind="html:MainModel().Language('UDF')"></th>
                            <th data-bind="html:MainModel().Language('Label')"></th>
                            <th style="width:1%;"><i class="fas fa-columns" data-bind="attr:{title:MainModel().Language('ShowColumn')}"></i></th>
                            <th style="width:1%;"><i class="fas fa-filter" data-bind="attr:{title:MainModel().Language('ShowInFilter')}"></i></th>
                            <th style="width:1%;"><i class="fas fa-search" data-bind="attr:{title:MainModel().Language('IncludeInSearch')}"></i></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach:UDFLabels">
                        <tr>
                            <td data-bind="text:$data.module"></td>
                            <td data-bind="text:$data.udf"></td>
                            <td>
                                <input type="text" class="form-control" data-bind="value:$data.label" />
                            </td>
                            <td class="center">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" data-bind="checked:$data.showColumn, attr: {title: $root.MainModel().Language('ShowColumn')}" />
                                </div>
                            </td>
                            <td class="center">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" data-bind="checked:$data.showInFilter, attr: {title: $root.MainModel().Language('ShowInFilter')}" />
                                </div>
                            </td>
                            <td class="center">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" data-bind="checked:$data.includeInSearch, attr: {title: $root.MainModel().Language('IncludeInSearch')}" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>