html {
  font-size: 18px;
}

html {
    font-size: 18px;
    position: relative;
    min-height: 100%;
}

html, body {
    font-family: 'Segoe UI','Helvetica Neue', Helvetica, Arial, sans-serif;
}

::placeholder {
    opacity:0.8;
}